*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: #f3f3e0;
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100vw;
    background-color: rgba(3, 1, 34, 0.667);
}
.card{
    width: 350px;
    background-color: #133e87;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    padding: 50px 30px;
}
.card h1, .login{
    z-index: 1;
    color: #fff;
}
.card::before{
    content: "";
    background-image:linear-gradient(270deg, rgb(0, 123, 255), rgb(0, 255, 213));
    position: absolute;
    width: 100px;
    height: 170%;
    top: -150px;
    left: 100px;
    animation: rotate 3s linear infinite;
    transition: all .2s linear;
    position: center;
}
.card::after{
    content: "";
    position: absolute;
    background-color: #133e87;
    inset: 5px;
    border-radius: 15px;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.password{
    position: relative;
}
.check{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    text-align: center;
    flex-direction: column;
}
input[type="password"],[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
}
input[type="password"]:focus,input[type="text"]:focus{
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}
input[type="password"]::placeholder,[type="text"]::placeholder{
    color: #fff;
}
.btn{
    color: #133e87;
    background: #f3f3e0;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn:hover{
    color: #0a2047;
    background-color: #d6d6bd;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}
.chk:hover{
    cursor: pointer;
}